@model  IEnumerable<ClientViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="<div class="container-fluid">
    <h2>Partners</h2>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">CreatedDate</th>
    </tr>
  </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <th scope="row">@item.Id</th>
      <td>@item.Name</td>
      <td>@item.CreatedTime</td>
    </tr>
    }
    </tbody>
 </table>
</div>
