@model  IEnumerable<ClientViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model)
    {
        <div class="container flex p-5">
        <div>@item.Name</div>
        <div>@item.CreatedTime</div>
        </div>
    }
</div>
