@model IEnumerable<ClientViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@section MainContainer {
        <h2>Assigned projects</h2>
                @foreach (var item in Model)
                {
                  <div class="jumbotron jumbotron-fluid border mb-2">
                  <div class="container">
                        <h1 class="display-4">@item.Name</h1>
                        <p class="lead"><a href="#" class="btn btn-primary">Enter</a></p>
                  </div>
                  </div>
                }
}
